.codemachine/memory
.codemachine/logs
.codemachine/prompts
.codemachine/agents
.codemachine/template.json
.codemachine/.env
node_modules
.pnpm
.turbo
.next
dist
build
pnpm-debug.log
.env
.env.*
*.log
*cache/
*.cache
__pycache__/
*.tmp
*.swp
supabase/.temp/

