@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ck-color-ink-950: #050608;
  --ck-color-ink-900: #0F1115;
  --ck-color-ink-600: #475569;
  --ck-color-graphite-800: #1C1F26;
  --ck-color-paper-0: #FFFFFF;
  --ck-color-paper-50: #F8FAFC;
  --ck-color-paper-100: #F1F5F9;
  --ck-color-foam-200: #E2E8F0;
  --ck-color-slate-300: #CBD5F6;
  --ck-color-steel-400: #94A3B8;
  --ck-color-azure-500: #0F8CF2;
  --ck-color-azure-600: #0063CE;
  --ck-color-emerald-500: #10B981;
  --ck-color-emerald-600: #059669;
  --ck-color-sun-400: #FACC15;
  --ck-color-amber-600: #D97706;
  --ck-color-rose-500: #F43F5E;
  --ck-color-plum-500: #A855F7;
  --ck-color-mint-300: #6EE7B7;
  --ck-color-ocean-700: #0369A1;
  --ck-color-cloud-100: #E0F2FE;
  --ck-color-carbon-900: #111827;
}
